.info-tooltip__close {
  border: 0;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  transition: opacity .3s linear;
}

.info-tooltip__close:hover {
  opacity: .6;
  cursor: pointer;
}